@inherits TabDatingBase

@if (InfoEvento != null)
{
     <h2>Recomendación</h2>

    <br />

    <div class="form-group row">

        <button class="btn btn-primary" @onclick="() => ModalRecomendacion.Open()">
            Ver
        </button>

        <VentanaModal @ref="ModalRecomendacion">

            <Title> Recomendacion por Parte del Autor</Title>

            <Body>

                <RecomendacionDating Version="@OpcionVersion" />

            </Body>

            <Footer>

                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                @onclick="()=>ModalRecomendacion.Close()">
                    Cerrar
                </button>

            </Footer>
        </VentanaModal>

    </div>


    <hr />


    <h2>Info Inicial</h2>

    <br />

    <div class="form-group row">


        <label for="versionDating" class="col-sm-2 col-form-label">
            Versión
        </label>

        <div class="col-sm-4">

            <Selected2 ValorPorDefecto="@OpcionVersion" EnviarOpcion="ActualizarVersion"
                       OpcionesSelect="OpcionesVersiones" PlaceHolder="Seleccione una versión"
                       Id="versionDating" />
        </div>

        <label for="RevivalDating" class="col-sm-2 col-form-label">
            Cristales de Revival
        </label>

        <div class="col-sm-4">

            <Selected2 ValorPorDefecto="@OpcionRevival" EnviarOpcion="ActualizarCristalesRevival"
                       OpcionesSelect="OpcionesRevival" PlaceHolder="Seleccione los cristales"
                       Id="RevivalDating" />
        </div>


    </div>

    <br />

    <div class="form-group row">

        <label for="fechaInicial" class="col-sm-2 col-form-label">
            Fecha Inicial
        </label>

        <div class="col-sm-4">
            <input @bind="@FechaInicial" type="datetime-local"
                   class="form-control" @oninput="ActualizarFechaFinal" />
        </div>

        <label for="fechaFinaliza" class="col-sm-2 col-form-label">
            Fecha Finalización
        </label>

        <div class="col-sm-4">
            <input @bind="@FinalizarEvento" type="datetime-local"
                   class="form-control" disabled />
        </div>

    </div>

    <hr />

    <h2>Compras Previas</h2>

    <br />


    <div class="form-group row">

        <ComprasDating CompraPociones="@CompraPocionesPrevio"
                       MaximoPociones="@MaximoPocionesPrevio"
                       TituloVentanas="@TitulosModalPrevio"
                       MaximoCristales="@MaximoCristalesPrevio"
                       ActualizarActualesCristales="(async(e) => await ActualizarCritalesPrevio(e))"
                       InfoEvento="@InfoEvento"
                       CristalesRevival="CristalRevivalPrevio"
                       OpcionCristales="@OpcionCristalesPrevio"
                       ActualizarRespuestasCristales="((e => OpcionCristalesPrevio = e))"
                       Capitulo="0"
                       Tipo="Previo"
                        @ref="ModalComprasPrevio"
                       ActualizarActualesPociones="(async()=>await ActualizarInfoPrevio())"
                       NoActualizarActualesPociones="(async()=>await NoActualizarInfoPrevio())" />

        <label for="SelectPaqueteNutakuPrevioDating" class="col-sm-1 col-form-label">
            paq. P2W
        </label>

        <div class="col-sm-3">

            <Selected2 ValorPorDefecto="@OpcionPaqueteNutakuPrevio" EnviarOpcion="ActualizarsSelectPaqueteP2W"
                       OpcionesSelect="OpcionesPaqueteNutakuPrevio" PlaceHolder="Seleccione el paquete comprado"
                       Id="SelectPaqueteNutakuPrevioDating" />
        </div>


    </div>


    <hr />

    <h2>Información Actual</h2>

    <br />

    <div class="form-group row">

        <label for="SelectNivel" class="col-sm-2 col-form-label">
            Capitulo
        </label>


        <div class="col-sm-4">

            <Selected2 ValorPorDefecto="@OpcionCapitulo" EnviarOpcion="ActualizarNumeroPreguntas"
                       OpcionesSelect="OpcionesCapitulos" PlaceHolder="Seleccione el capitulo"
                       Id="SelectCapitulo" />
        </div>

        <label for="SelectPreguntaDating" class="col-sm-2 col-form-label">
            Preguntas Respondidas
        </label>


        <div class="col-sm-4">

            <Selected2 ValorPorDefecto="@OpcionPregunta" EnviarOpcion="ActivarEXP"
                       OpcionesSelect="OpcionesPregunta" PlaceHolder="Seleccione la pregunta"
                       Id="SelectPreguntaDating" Activar="ActivarSelectPregunta" />
        </div>

    </div>

    <br />

    <div class="form-group row">

        <label for="ExpActual" class="col-sm-2 col-form-label">
            Exp Actual
        </label>

        <Tooltip Text="@MensajeExp" ClassStyle="col-sm-4">

            <ChildContent>
                <input @bind="@ExpActual" type="number"
                       class="form-control"
                       min="0"
                       max="@MaximoExp"
                       step="1"
                       @oninput="(async(e)=> await ActualizarExp(e))"
                       readonly=@ReadonlyExp />
            </ChildContent>
        </Tooltip>

        <label for="fechaActual" class="col-sm-2 col-form-label">
            Fecha Actual
        </label>

        <div class="col-sm-4">
            <input @bind="@FechaActual" type="datetime-local"
                   class="form-control"
                   min="@FechaInicial.ToString("yyyy-MM-dd HH:mm:ss").Replace(" ", "T")"
                   max="@FinalizarEvento.ToString("yyyy-MM-dd HH:mm:ss").Replace(" ", "T")" />
        </div>


    </div>

    <br />

    <div class="form-group row">

        <label for="pociones" class="col-sm-2 col-form-label">
            Pociones Act.
        </label>

        <div class="col-sm-4">

            <input @bind="@PocionesActual" type="number"
                   class="form-control"
                    @oninput="ActualizarPociones"
                   step="1" />

        </div>
    </div>

    <hr />

    <h2>Compras Nuevas</h2>

    <br />

    <div class="form-group row">

        <ComprasDating CompraPociones="@CompraPocionesNuevo"
                       MaximoPociones="@MaximoPocionesNuevo"
                       TituloVentanas="@TitulosModalActual"
                       MaximoCristales="@MaximoCristalesNuevo"
                       ActualizarActualesCristales="(async(e)=> await ActualizarCritalesNuevo(e))"
                       InfoEvento="@InfoEvento"
                       CristalesRevival="CristalRevivalActual"
                       OpcionCristales="@OpcionCristalesNuevo"
                       ActualizarRespuestasCristales="((e => OpcionCristalesNuevo = e))"
                       Tipo="Nuevo"
                       Capitulo="Capitulo"
                       Exp="ExpActual"
                       @ref="ModalComprasNuevo"
                       ActualizarActualesPociones="(async()=>await ActualizarPocionesNuevo())"
                       NoActualizarActualesPociones="(async()=>await NoActualizarPociones())" />

        <label for="SelectPaqueteNutakuActual" class="col-sm-1 col-form-label">
            paq. P2W
        </label>

        <div class="col-sm-3">

            <Selected2 ValorPorDefecto="@OpcionPaqueteNutakuActual" EnviarOpcion="ActualizarGemasSelectActual"
                       OpcionesSelect="OpcionesPaqueteNutakuActual" PlaceHolder="Seleccione el paquete a comprar"
                       Id="SelectPaqueteNutakuActual" />
        </div>

    </div>

    <hr />

    <h2>Resultado Finales</h2>

    <br />

    <div class="form-group row">

        <label for="pociones" class="col-sm-2 col-form-label">
            Pociones
        </label>

        <div class="col-sm-4">

            <input @bind="@PocionesFinal" type="number"
                   class="form-control"
                   step="1" readonly />

        </div>

    </div>

    <hr />

    <div class="form-group row">

        <button type="button" class="btn btn-primary"
        @onclick="Calcular">
            Calcular
        </button>

    </div>

    <hr />

    <CardBootstrap Titulo="Resultados">

        <Cuerpo>

            <div class="card col-sm-12">

                <div class="card-header" style="background-color: #155C70; z-index:1"
                @onclick="(() => ActualizarCollapsable(0))">
                    <div class="card-title" data-toggle="collapse"
                         data-target="#collapseTiempoFinal"
                         style="font-weight: bold; color: white;">

                        <div class="row">

                            <h5 class="col-11">
                                Tiempo Final
                            </h5>


                            <h5 class="col-1" style="text-align: right;">

                                <span class="@CollapsableIcono[0]" style="font-weight: bold; color: white;" />

                            </h5>

                        </div>


                    </div>


                </div>

                <div id="collapseTiempoFinal" class="collapse @Collapsable[0]">

                    @if (GuiaCapitulo.Count != 0)
                    {
                        <div class="card-body">

                            <div class="col-12">

                                <div class="container table-responsive">

                                    <table id="TiempoFinal"
                                           class="display table table-bordered disable-select">

                                        <thead>

                                            <tr>
                                                <th>
                                                    Dia
                                                </th>

                                                <th>
                                                    Hora
                                                </th>

                                                <th>
                                                    minutos
                                                </th>



                                            </tr>


                                        </thead>

                                        <tbody>

                                            <tr>


                                                <td style="text-align: center">

                                                    @TiempoFinales.Days

                                                </td>

                                                <td style="text-align: center">

                                                    @TiempoFinales.Hours

                                                </td>

                                                <td style="text-align: center">

                                                    @TiempoFinales.Minutes

                                                </td>

                                            </tr>

                                        </tbody>

                                    </table>


                                </div>

                            </div>


                        </div>
                    }

                    else
                    {
                        <label>  sin info </label>
                    }


                </div>

            </div>

            <br />

            <div class="card col-sm-12">

                <div class="card-header" style="background-color: #155C70; z-index:1"
                @onclick="(() => ActualizarCollapsable(1))">

                    <div class="card-title" data-toggle="collapse"
                         data-target="#collapseHorarioCapitulosDating"
                         style="font-weight: bold; color: white;">

                        <div class="row">

                            <h5 class="col-11">
                                Horarios Niveles
                            </h5>


                            <h5 class="col-1" style="text-align: right;">

                                <span class="@CollapsableIcono[1]" style="font-weight: bold; color: white;" />

                            </h5>

                        </div>

                    </div>

                </div>

                <div id="collapseHorarioCapitulosDating" class="collapse @Collapsable[1]">
                    <div class="card-body">

                        <HorarioCapituloDating Tiempos="@GuiaCapitulo"
                        Titulos="@TitulosCapitulo"
                        Cantidad="4"
                        TitulosDefecto="@TitulosCapituloDefecto"
                        @ref="@Horario" />

                    </div>
                </div>
            </div>

            <br />

            <div class="card col-sm-12">

                <div class="card-header" style="background-color: #155C70; z-index:1"
                @onclick="(() => ActualizarCollapsable(2))">


                    <div class="card-title" data-toggle="collapse"
                         data-target="#collapseGastosGemas"
                         style="font-weight: bold; color: white;">

                        <div class="row">

                            <h5 class="col-11">
                                Gastos en Gemas
                            </h5>


                            <h5 class="col-1" style="text-align: right;">

                                <span class="@CollapsableIcono[2]" style="font-weight: bold; color: white;" />

                            </h5>

                        </div>

                    </div>


                </div>

                <div id="collapseGastosGemas" class="collapse @Collapsable[2]">


                    <div class="card-body">


                        <div class="form-group row">

                            <label for="Mentas" class="col-sm-3 col-form-label">
                                Gast. Gemas Previas
                            </label>

                            <div class="col-sm-3">

                                <input @bind="@GastosGemasPrevio" type="number"
                                       class="form-control"
                                       step="1" disabled />

                            </div>


                            <label for="pociones" class="col-sm-3 col-form-label">
                                P2W Gemas Previas
                            </label>

                            <div class="col-sm-3">

                                <input @bind="@GemasObtenidasPaqueteP2WPrevio" type="number"
                                       class="form-control"
                                       step="1" disabled />

                            </div>

                        </div>

                        <br />

                        <div class="form-group row">

                            <label for="Mentas" class="col-sm-3 col-form-label">
                                Gast. Gemas Actual
                            </label>

                            <div class="col-sm-3">

                                <input @bind="@GastosGemasNuevo" type="number"
                                       class="form-control"
                                       step="1" disabled />

                            </div>


                            <label for="Mentas" class="col-sm-3 col-form-label">
                                P2W Gemas Actual
                            </label>

                            <div class="col-sm-3">

                                <input @bind="@GemasObtenidasPaqueteP2WNuevo" type="number"
                                       class="form-control"
                                       step="1" disabled />

                            </div>

                        </div>


                        <br />

                        <div class="form-group row">

                            <label for="Mentas" class="col-sm-3 col-form-label">
                                Total Gemas Gastadas
                            </label>

                            <div class="col-sm-3">

                                <label class="form-control"> @TotalGemasGastadas</label>

                            </div>


                            <label for="Mentas" class="col-sm-3 col-form-label">
                                Gemas Obtenidas P2W
                            </label>

                            <div class="col-sm-3">

                                <label class="form-control"> @TotalGemasObtenidas  </label>

                            </div>

                        </div>

                    </div>


                </div>

            </div>


        </Cuerpo>

    </CardBootstrap>
}

