@inherits HorarioCapituloDatingBase



@if (Titulos.Count != 0 && Tiempos.Count != 0)
{
    <TabSet SizeSM="12" @ref="@TabsSet">

   
        @foreach (var x in Titulos.Select((e, i) => new { data = e, Index = i }))

        {
    
            <Tab Titulo="@x.data" @ref="@Tabs[x.Index]">

                <div class="col-12">

                    <div class="container table-responsive">

                            <table id="@x.data.Replace(" ", "")" 
                                class="display table table-bordered disable-select">


                                <thead>
                                   
                                    <tr>
                        
                                        <th>
                                            Pociones Sobrantes
                                        </th>

                                        <th>
                                            Pregunta
                                        </th>

                                         <th>
                                            Acción
                                        </th>

                                        <th>
                                            Mes
                                        </th>

                                        <th>
                                            Dia
                                        </th>

                                        <th>
                                            Hora
                                        </th>

                                        <th>
                                            Minutos
                                        </th>

                                    </tr>
                                   

                                </thead>

                                <tbody>

                                    @foreach (var T in Tiempos.Where(y => y.Capitulo == x.data))
                                    {
                                                                
                                        <tr>

                                            <td style="text-align: center">

                                                @T.Pociones

                                            </td>

                                            <td style="text-align: center">

                                                @T.Pregunta

                                            </td>

                                             <td style="text-align: center">

                                                @T.Accion

                                            </td>

                                            <td style="text-align: center">

                                                @T.Month

                                            </td>

                                            <td style="text-align: center">

                                                @T.Day

                                            </td>

                                            <td style="text-align: center">

                                                @T.Hour

                                            </td>

                                            <td style="text-align: center">

                                                @T.Minute

                                            </td>
     
                                        </tr>
                                    }

                                </tbody>

                            </table>


                    </div>

                </div>

            </Tab>


        }
            
        
    </TabSet>

}
else
{
    <TabSet SizeSM="12" @ref="@TabsSet">

        @foreach (var x in TitulosDefecto.Select((e, i) => new { data = e, Index = i }))

        {
            <Tab Titulo="@x.data" @ref="@Tabs[x.Index]">

                <label>sin info</label>

            </Tab>
        }


    </TabSet>

}


